.postFormat {
    display: block;
}

pre {
    text-align: center;
    overflow-x: auto;
}

ul {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

#blogHeader {
    margin-top: 50px;
}

#postDetails {
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

#postDetails h1 {
    margin: 0px;
}

/* tablet/desktop design */
@media (min-width: 768px) {
    #postDetails {
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (min-width: 1024px) {
    #postDetails {
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 30px;
        padding-left: 30px;
    }
}