#blogTitle {
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "TiltWarp";
  font-size: 45px;
}

#blogHeaderImage {
  height: 357.5px;
  width: 636px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#blogImages {
  height: 357.5px;
  width: 520px;
}

#blogSubtitle {
  font-family: "VollkornRegular";
}

#postCount {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

#blogPosts {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
}

hr {
  width: 50%;
}

#postSubtitle {
  font-family: "VollkornRegular";
  margin-bottom: 0px;
  margin-top: 15px;
  font-style: italic;
  font-size: 18px;
}

#blogHeaderImageContainer {
  position: relative;
}

#mobileScroll {
  font-family: "VollkornRegular";
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

.outer {
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outerPinned {
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  text-decoration: none;
  text-align: center;
}

.blogSectionTitle {
  font-family: "TiltWarp";
}

/* customising font awesome icon */

.fa-thumbtack {
  transform: rotate(38deg) !important;
}

/* customising google icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 60;
  font-size: 40px !important;
}

@media (min-width: 768px) {
  #mobileScroll {
    display: none;
  }

  .outer {
    white-space: pre-wrap;
    overflow-x: hidden;
  }

  #postSubtitle {
    font-family: "VollkornRegular";
    margin-bottom: 0px;
    justify-content: center;
  }

  #blogImages {
    height: 357.5px;
    width: 636px;
  }
}

@media (min-width: 1024px) {
  #postSubtitle {
    font-family: "VollkornRegular";
    margin-bottom: 0px;
    justify-content: center;
    font-size: 21px;
  }
}
