html {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
}

h2 {
    text-align: center;
}

/* header */

a:link {
    text-decoration: underline;
    text-shadow: none;
    color: black;
  }

a:visited {
    text-decoration: none;
    text-shadow: none;
    color: black;
}

#bolt {
    padding-left: 9px;
    padding-right: 9px;
}

header {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 10px 0px 0px 80px;
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0px 0px 50px 0px;
    background: #F4F4F4;
}

.header-item {
    padding-left: 9px;
    padding-right: 9px;
}

/* footer */
footer {
    text-align: center;
    position: relative;
    font-size: 35px;
    padding: 0px 15px 0px 0px;
}

.icon {
    padding-left: 15px;
    padding-right: 15px;
}

/* tablet/desktop design */
@media (min-width: 860px) {

    #bolt {
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        padding: 10px 0px 0px 1145px;
        overflow: none;
        font-size: 25px;
    }

    .header-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    #header-menu {
        display: none;
    }
}