#image {
    border: 5px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 500px;
    margin-top: 10px;
}

#name {
    font-size: 25px;    
}

.cardBox {
    text-align: center;
    width: 100%;
}

.profile-card {
    display: inline-block;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px;
    width: auto;
    margin-top: 60px;
    margin-left: 20px;
    padding: 0px 10px 0px 10px;
}

#special-text {
    font-size: 20px;
}

/* tablet/desktop design */
@media (min-width: 830px) {
    #image {
        border-radius: 50%;
    }

    .intro {
        display: block;
        margin: auto;
        max-width: 410px;
        font-size: 18px;
    }
    
    .profile-card {
        height: auto;
        max-height: 600px;
        margin: 60px 0px 0px 0px;
    }
}

@media (min-width: 1024px) {
    .profile-card {
        height: auto;
        max-height: 600px;
        margin: 60px 0px 0px 0px;
    }
}