.profile-card {
    display: inline-block;
    position: relative;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    max-width: 325px;
    margin: auto;
    box-shadow: 10px 10px;
}

#image {
    display: inline-block;
    position: relative;
    max-width: 250px;
    max-height: 500px;
    margin: 20px 20px 20px 20px;
}

#name {
    font-size: 55px;
    margin-left: 50px;
}

#special-text {
    font-size: 40px;
    margin-left: 50px;
}


/* tablet/desktop design */
@media (min-width: 860px) {
    .profile-card {
        margin: auto;
        max-height: 600px;
        max-width: 700px;
        display: flex;
        height: auto;
    }

    .profile-card-info {
        display: inline-block;
    }

    #image {
        position: relative;
        border-radius: 10%;
    }
}