.articleSetup {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.articleSetup hr {
    width: 50%;
}

p.work {
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h1.work_title {
  text-align: center;
  padding-top: 35px;
  font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3 {
  font-size: 25px;
  text-align: center;
}

i.about-sub {
  text-align: center;
  display: block;
  font-family: "VollkornRegular";
}

.column-about {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#image-about-right {
  float: right;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  margin: 5px;
}

#image-about-left {
  float: left;
  border: 5px;
  border-radius: 10px;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  margin: 12px;
  margin-right: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: fit-content;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px;
  }
  
  .top {
    height: 60px;
    width: 99.2%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(90deg, #0077c6, #059bff);
    top: 0px;
  }
  
  .top h1 {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  .bottom hr {
    width: 50%;
  }
  
  .bottom {
    height: 100%;
    text-align: center;
  }
  
  .bottom ul {
    list-style-type: none;
    padding-left: 0px;
  }
  
  .about-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 768px) {
      .card {
        width: 500px;
        height: fit-content;
      }

      .top {
          height: 120px;
      }

      .top h1 {
          font-size: 35px;
      }

      h1 {
          font-size: 35px;
      }

      h1.work-title{
        font-size: 35px;
      }

      h2 {
          font-size: 23px;
      }
      
      p {
        font-size: 20px;
      }
      
      .column-about {
        display: flex;
        flex-direction: column;
        width: 75%;
      }
      
      #image-about-right {
        border: 5px;
        border-radius: 25px;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
        width: 290px;
        height: 290px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 30px
      }
      
      #image-about-left {
        border: 5px;
        border-radius: 25px;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
        width: 290px;
        height: 290px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-right: 30px;
      }
  }


  @media (min-width: 1024px) {
    .card {
        width: 500px;
        height: fit-content;
      }

      .top {
          height: 120px;
      }

      .top h1 {
          font-size: 35px;
      }

      h1 {
          font-size: 35px;
      }
      
      h1.work-title{
        font-size: 45px;
      }

      h2 {
          font-size: 23px;
      }
      
      p {
        font-size: 20px;
      }
  }