.articleSetup {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 100%;
    height: auto;
}

.articleSetup hr {
    width: 50%;
}

p {
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}